.projects {
  margin-top: 56px;
}

.projects h1 {
  text-align: center;
  text-transform: uppercase;
  color: #90a0d9;
  font-weight: 700;
  font-family: "Poppins-Bold";
  font-size: 2em;
}

.project_card__wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}
